@media screen and (max-width: 420px){
    body, html{
        font-size: 10px;
    }
    .container{
        max-width: 316px;
    }
    section.first-screen{
        .container{

            .first-screen-header{
                justify-content: center;
                padding-top: 40px;
                margin-bottom: 100px;

                &__logo{
                    img{
                        width: 170px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }

            ul.menu{
                display: none;
            }
        }
        .first-screen-main-info{
            h1{
                font-size: 13px;
                margin-bottom: 50px;
            }
            .mouse{
                margin-bottom: 50px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            &-location{
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                p{
                    margin-bottom: 20px;
                    &::before{
                        left: -20px;
                        width: 10px;
                        height: 10px;
                    }
                }
                a{
                    &::before{
                        left: -10px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

        }
    }
    .around-us{
        display: flex;
        flex-direction: column;
        &::after{
            display: none;
        }
        &-info{

            img{
                width: 40px;
                height: 40px;
            }
            h3{
                margin-top: 25px;
                margin-bottom: 25px;
            }
            &:last-child{
                margin-bottom: none;
            }
        }
    }
    .appartaments{
        .container{
            .appartaments-header{
                text-align: center;
                &::before{
                    display: none;
                }
                h1{
                    font-size: 13px;
                }

            }
            .appartaments-lofts{
                flex-direction: column;
                align-items: center;
                &__floor3{
                    .loft3{
                        width: 200px;
                        text-align: center;
                        margin: auto;
                        margin-bottom: 10px;
                        h3{
                            font-size: 10px;
                        }
                    }
                }
                &__floor2{
                    .loft2{
                        width: 200px;
                        text-align: center;
                        margin: auto;
                        margin-bottom: 10px;
                        h3{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    .wanna-see{
        .container{
            flex-direction: column;
            text-align: center;
            .wanna-see-info{
                h2{
                    font-size: 13px;
                }
                p{
                    margin: auto;
                    width: 200px;
                    font-size: 8px;
                    line-height: 150%;
                }
            }
            .wanna-see-feedback{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: auto;
                margin-top: 10px;
                &-inputs{
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    input{
                        margin: 5px;
                        padding: 6px;
                        &::placeholder{
                            font-size: 8px;
                        }
                    }
                }
                &-info{
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    p{
                        width: 200px;
                        font-size:8px;
                        line-height: 150%;
                        margin: 10px;
                    }
                    button{
                        width: 100px;
                        margin: auto;
                        margin-top: 10px;
                        font-size: 6px;
                    }
                }
            }
        }
    }

    .video.video::after{
            display: none;
        }

    .have-questions{
        text-align: center;
        .container{
            .have-questions-head{
                h1{
                    font-size: 13px;
                }
            }
            .have-questions-form{
                flex-direction: column;
                align-items: center;
                p{
                    width: 200px;
                    font-size: 8px;
                    margin: 10px;
                    line-height: 150%;
                }
                input{
                    margin: 10px;
                    padding: 6px;
                    &::placeholder{
                        font-size: 8px;
                    }
                }
                button.btn.gold{
                    width: 100px;
                    margin: auto;
                    margin-top: 10px;
                    font-size: 6px;
                }
            }
        }
    }

    footer{
        flex-direction: column;
        text-align: center;
        margin: auto;
        .logo{
            margin-bottom: 10px;
            img{
                width: 170px;
            }
            p{
                font-size: 16px;
            }
        }

        ul.footer-menu{
            line-height: 150%;
            .socials{
                margin: 10px;
                .social{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    
                }
            }
        }
    }
}